.columnWithIcon{
  .title{
    font-family: $ruberoid;
    font-weight:600;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom:10px;
  }

  img{
    @include media-breakpoint-down(lg) {
      margin-bottom:30px;
      width:150px;
    }
    @include media-breakpoint-down(sm) {
      width:130px;
      margin-bottom:25px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom:75px;
    text-align:center;
  }
}
