footer{
  background:url(../images/footer-bg.png) no-repeat scroll center bottom transparent;
  background-size:100% 1200px;
  width:100%;
  padding-top:20px;
  padding-bottom:40px;
  position:relative;
  z-index:1;

  @include media-breakpoint-down(lg) {
    background-size:auto 1800px;
  }
  @include media-breakpoint-down(md) {
    background-size:auto 2300px;
  }
  @include media-breakpoint-down(sm) {
    background-size:auto 2600px;
  }

  .footer-boxes{
    display:flex;
    width:100%;

    @include media-breakpoint-down(md) {
      display:block;
    }
  }

  .footer-box{
    width:50%;
    display:contents;
    margin-bottom:140px;

    @include media-breakpoint-down(md) {
      width:100%;
      display:block;
      margin-bottom:15px;
    }

    .footer-box-inner{
      background: #F9F9F9;
      border-radius: 6px;
      width:100%;
      background-repeat: no-repeat;
      background-position: right bottom;
      position: relative;
      overflow:hidden;

      .bg{
        position:absolute;
        left:0;
        top:0;
        z-index:1;
      }
      .inner{
        z-index:2;
        width:100%;
        height:100%;
        background-repeat: no-repeat;
        background-position: right bottom;
        position: relative;
        padding:95px 55px;

        @include media-breakpoint-down(md) {
          padding:40px;
        }
      }
    }

    &:nth-child(1){
      .footer-box-inner{
        margin-right:15px;

        @include media-breakpoint-down(md) {
          margin-right:0;
        }

        .inner{
          background-image:url(../images/footer-box-1.svg);
          background-size:40%;

          @include media-breakpoint-down(lg) {
            background-size:50%;
          }
          @include media-breakpoint-down(md) {
            background-size:25%;
          }
        }
      }
    }

    &:nth-child(2){
      .footer-box-inner{
        margin-left:15px;
        position:relative;

        @include media-breakpoint-down(md) {
          margin-left:0;
        }

        .inner{
          background-image:url(../images/footer-box-2.svg);
          background-size:60%;

          @include media-breakpoint-down(lg) {
            background-size:80%;
          }
          @include media-breakpoint-down(md) {
            background-size:40%;
          }
        }

        .bg{
          position: absolute;
          content:'';
          top:-5px;
          left:-5px;
          right:-5px;
          bottom:-5px;
          background-image:url(../images/footer-box-bg.png);
          background-repeat: no-repeat;
        }
      }
    }

    .title{
      font-family: $ruberoid;
      font-weight:bold;
      font-size: 52px;
      color: #000000;
      letter-spacing: 0;
      line-height: 1.25em;
      margin-bottom:30px;

      @include media-breakpoint-down(lg) {
        font-size:42px;
      }
      @include media-breakpoint-down(md) {
        font-size:32px;
      }
    }

    .text{
      white-space: pre-line;
      font-family: $inter;
      font-size: 18px;
      color: #414141;
      letter-spacing: -0.1px;
      line-height: 26px;
      margin-bottom:110px;
      width:70%;

      @include media-breakpoint-down(lg) {
        margin-bottom:150px;
      }

      @include media-breakpoint-down(md) {
        font-size:16px;
        margin-bottom:30px;
      }
    }

    .footer-box-inner-bottom{
      position:absolute;
      left:55px;
      bottom:95px;

      @include media-breakpoint-down(md) {
        left:unset;
        bottom:unset;
        position:relative;
      }

      .socials{
        margin-top:30px;
        img{
          width:32px;
          margin-right:8px;
        }
      }
    }
  }

  .title{
    font-family: $ruberoid;
    font-weight:bold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 48px;
    margin-bottom:20px;
  }

  .col-title{
    margin-bottom:20px;
    font-family: $ruberoid;
    font-weight:bold;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 40px;
  }

  nav{
    ul{
      list-style:none;
      padding:0;

      li{
        font-family: $ruberoid;
        font-weight:500;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        display:grid;
        width:50%;
        float:left;

        a{
          text-decoration: none;
          transition:300ms all ease-in-out;

          &:hover{
            color:darken(#fff,20%);
          }
        }
      }
    }
  }
  .input-group-text{
    background:#fff;
    height:50px;

    input, .form-control{
      background:#fff;
      outline:none;
    }
  }


  .input-group-append{
    .input-group-text{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background:#fff;
      padding:0 10px;



      select{
        height:100%;
        border:none;
        outline: none;
        -webkit-appearance:none;
      }
    }
  }

  p{
    opacity: 0.75;
    font-family: $ruberoid;
    font-weight:500;
    font-size: 11px;
    color: rgba(255,255,255,.75);
    letter-spacing: 0;
    text-align: center;
  }

  .copyright{
    font-family: $ruberoid;
    font-weight:600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;

    a{
      text-decoration: none;

      &:hover{
        color:inherit;
      }
    }
  }

  .socials{
    margin-top:25px;
    color:#fff;

    a{
      margin-right:10px;
      width:40px;
      height:40px;
      border-radius: 50%;
      background: rgba(255,255,255,0.30);
      line-height:40px;
      text-align: center;
      display:inline-block;
      color: #FFFFFF;
    }
    img{
      width:40px;
    }
  }
}

.hidden-field{
  position: absolute; left: -5000px;
}
