.resource{
  width:100%;

  .image-container{
    width:100%;
    margin-bottom:15px;
    border-radius: 6px;
    overflow: hidden;

    img{
      max-width:100%;
    }

    &.icon{
      img{
        width:100px;
        height:100px;
      }
    }

    &.full{
      position:relative;
      padding-top:56%;

      img, .gatsby-image-wrapper{
        position:absolute !important;
        width:100%;
        height:100%;
        left:0;
        top:0;
      }
    }
  }

  .text-container{
    .category{
      font-family: $ruberoid;
      font-weight:bold;
      font-size: 10px;
      color: #525252;
      letter-spacing: 0;
      margin-bottom:10px;
      text-transform:uppercase;
    }

    .title{
      font-family: $ruberoid;
      font-weight:bold;
      font-size: 32px;
      color: #000000;
      letter-spacing: 0;
      line-height: 40px;
      margin-bottom:15px;

      @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height:25px;
      }
    }

    .button-external{
      margin-top:25px;
    }
  }

  &.type-big{
    .text-container{
      .button-external{
        font-size:15px;
      }
    }
  }

  &.type-text{
    padding-bottom:30px;
    padding-top:30px;
    border-bottom:1px solid rgba(151, 151, 151,.18);

    .gatsby-image-wrapper{
      border-radius:6px;
      position:absolute;
      height:100%;
    }

    @include media-breakpoint-down(xl) {
      border-bottom:none;
      padding-right:30px;
    }

    @include media-breakpoint-down(md) {
      width:100%;
      float:none;
      border-bottom:1px solid rgba(151, 151, 151,.18);
      padding-right:0;
    }

    .image-container{
      float:left;
      width:100px;
      height:100px;

      @include media-breakpoint-down(md) {
        width:100%;
        height:auto;
        padding-top:56%;
        margin-bottom:15px;
        position:relative;

        & > img, .gatsby-image-wrapper{
          position:absolute !important;
          left:0;
          top:0;
          width:100%;
          height:100%;
        }
      }

      &.full{
        padding-top:unset;

        img{
          position:relative;
          height:unset;
        }
      }

      @include media-breakpoint-down(sm) {
        float:none;
      }
    }

    .text-container{
      float:left;
      padding-left:30px;
      width:calc(100% - 100px);

      @include media-breakpoint-down(md) {
        padding-left:0;
        width:100%;
        float:none;
      }

      @include media-breakpoint-down(sm) {
        float:none;
        width:100%;
        padding-left:0;
      }

      .category{
        margin-bottom:10px;
      }

      .title{
        font-size: 20px;
        color: #000000;
        line-height:25px;
        margin-bottom:0;
      }

      .text{
        display:none;
      }

      .button{
        margin-top:15px;
        display:table;

        &.button-icon{
          i{
            margin-top:-3px;
          }
        }

        @include media-breakpoint-down(md) {
          font-size:15px;
        }
      }
    }
  }

  &.no-border{
    border-bottom:none;
  }

  &:hover{
    .button-external{
      color:$purple;

      i{
        transform:rotate(45deg);
      }

    }
  }

  &.type-medium{
    .image-container{
      margin-bottom:20px;
    }
    .text-container{
      .category{
        margin-bottom:10px;
      }
      .title{
        font-size: 26px;
        line-height: 32px;
        margin-bottom:20px;
      }
      .button-external{
        margin-top:16px;
        font-size:15px;
      }
    }
  }

  &.type-small{
    .image-container{
      margin-bottom:20px;
    }
    .text-container{
      .category{
        margin-bottom:10px;
      }
      .title{
        font-size: 18px;
        line-height: 23px;
      }
      .text{
        font-family: $inter;
        font-weight:300;
        font-size: 13px;
        color: #414141;
        letter-spacing: -0.08px;
        line-height: 18px;
      }
      .button-external{
        margin-top:30px;
      }
    }
  }
}

.oneLine{
  .resource{
    &.type-small{
      .image-container{
        img{
          max-width:100%;
        }
      }
      .gatsby-image-wrapper{
        img{
          width:100%;
          max-width:unset;
        }
      }
      .button{
        margin-top:20px;
        display:table;
        line-height:28px;
      }
    }
  }
}
