.roadmap-item{
  position:relative;

  .box{
    padding:15px 25px;
    background:transparent;
    margin:-15px -25px;
    display:inline-block;
    border-radius:20px;
    position: relative;
    z-index:2;
    min-height:130px;

    @include media-breakpoint-down(md) {
      min-height: unset;
      margin: unset;
      padding: unset;
      padding-left:90px;
      padding-bottom:80px;
    }
  }

  .title{
    font-family: $ruberoid;
    font-weight:600;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom:5px;


  }

  .text{
    font-family: $ruberoid;
    font-weight:500;
    font-size: 13px;
    color: #414141;
    letter-spacing: -0.08px;
    line-height: 20px;
  }

  .circle{
    background: radial-gradient(circle at 10% 0%, rgba(254,124,213,1) 33%, rgba(123,43,249,1) 100%);
    border-radius: 50%;
    width:60px;
    height:60px;
    position:absolute;
    margin-top:-5px;


    @include media-breakpoint-down(md) {
      left:0;
      top:0;
    }
  }

  &.current{
    .box{
      background: rgba(195,195,195,0.10);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);

      @include media-breakpoint-down(md) {
        background: unset;
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
      }
    }
    .title{
      font-size: 40px;

      @include media-breakpoint-down(lg) {
        font-size:32px;
      }
    }
    .circle{
      background: radial-gradient(circle at 10% 0%, #FFECC8 33%, #E5627B 100%);
    }
  }

  &.inactive{
    .circle{
      background: radial-gradient(circle at 10% 0%, #EDEDED 33%, #9A9A9A 100%);
    }
  }
}
