.cards-section{
  width:100%;

  .subtitle{
    font-family: $inter;
    font-weight:300;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
  }

  .row{
    .col{
      margin-bottom: -99999px;
      padding-bottom: 99999px;

      @include media-breakpoint-down(lg) {
        margin-bottom:unset;
        padding-bottom:25px;
      }
      @include media-breakpoint-down(sm) {
        padding-bottom:10px;
      }

      &:nth-child(2){
        .card{
          background-image: linear-gradient(220deg, #F5F5F5 21%, #F8E2B7 70%, #FFB0B0 100%);
        }
      }

      .card{
        height:100%;
      }
    }
  }


}
