.image-with-text{
  .col{
    &:nth-child(1){
      padding-right:45px;

      @include media-breakpoint-down(lg) {
        padding-right:calc(var(--bs-gutter-x)*.5);
      }
    }
    &:nth-child(2){
      padding-left:45px;

      @include media-breakpoint-down(lg) {
        padding-left:calc(var(--bs-gutter-x)*.5);
      }

      .text{
        padding-right:45px;

        @include media-breakpoint-down(lg) {
          padding-right:0;
        }
      }
    }
  }
  .text{
    font-family: $inter;
    font-weight:300;
    font-size: 16px;
    color: #414141;
    letter-spacing: -0.1px;
    line-height: 24px;
    direction:ltr;
    padding-right:90px;

    h4{
      margin-bottom:20px;
    }

    @include media-breakpoint-down(sm) {
      font-size:14px;
      padding-right:0;
    }
  }

  .gatsby-image-wrapper, video, img{
    max-width:100%;
    max-height:100%;
    margin:auto;

    @include media-breakpoint-down(lg) {
      max-width:360px;
      margin:0 0 50px 0;
    }
    @include media-breakpoint-down(sm) {
      max-width:260px;
      margin:0 0 20px 0;
    }

    img{
      object-fit:contain !important;
    }
  }

  &.rtl{
    direction: rtl;

    @include media-breakpoint-down(lg) {
      direction: ltr;
    }
  }
}
