.separate-section{
  padding-bottom:130px;

  @include media-breakpoint-down(lg) {
    padding-bottom:70px;
    padding-top:70px;
  }

  .col{
    border-right: 1px solid #E2E2E2;
    padding-right:85px;

    @include media-breakpoint-down(lg) {
      padding-right:calc(var(--bs-gutter-x) * .5);
      border-right: none;
      border-bottom: 1px solid #E2E2E2;
      padding-bottom:40px;
      margin-bottom:40px;
    }

    &:nth-child(2){
      border-right:none;
      padding-left:85px;

      @include media-breakpoint-down(lg) {
        padding-left:calc(var(--bs-gutter-x) * .5);
        border-bottom:none;
        margin-bottom:0;
      }
    }

    h3{
      min-height:3em;

      @include media-breakpoint-down(md) {
        min-height:unset;
        margin-bottom:20px;
        max-width:290px;
      }
    }

    .text{
      font-family: $inter;
      font-weight:300;
      font-size: 20px;
      color: #414141;
      letter-spacing: -0.11px;
      line-height: 30px;
      margin-bottom:40px;


      @include media-breakpoint-down(md) {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom:30px;
      }
    }

  }
}
