.videos-section{
  .section-inner{
    position:relative;
    width:100%;

    padding:0 100px;
    overflow:visible;

    @include media-breakpoint-down(md) {
      padding:0 50px;
    }
  }


  .carousel-button-group{
    position:absolute;
    top:50%;
    width:100%;

    .button{
      position:absolute;
      border:none;
      background: rgba(255,255,255,.4);
      border-radius: 6px;
      color:#000;
      font-size:28px;
      transition: 300ms all ease-in-out;
      width:35px;
      height:60px;
      line-height:64px;

      @include media-breakpoint-down(md) {
        font-size:24px;
      }

      &:hover{
        background: rgba(255,255,255,.7);
      }

      &.button-left{
        left:-100px;
        top:50%;
        transform:translateY(-50%);

        @include media-breakpoint-down(md) {
          left:-50px;
        }
      }

      &.button-right{
        right:100px;
        top:50%;
        transform:translateY(-50%);

        @include media-breakpoint-down(md) {
          right:50px;
        }
      }
    }
  }
}
