.resources-page{
  //background:url(../images/BG/team.png) no-repeat scroll center right transparent;
  position:relative;
}

.blog-post{
  width:100%;
  margin:auto;
  max-width:1140px;

  .main-image{
    margin-bottom:60px;
  }

  .inner{
    width:100%;
    margin:auto;

    &.small{
      max-width:1140px;
      margin:auto;
      margin-bottom:45px;
    }
  }

  h1{
    /*font-weight:bold;
    font-size: 72px;
    color: #000000;
    letter-spacing: 0.9px;
    line-height: 90px;
    margin-bottom:30px;*/
  }

  h4{
    margin-bottom:20px;
    position:relative;
  }

  h5{
    font-family:$ruberoid;
    font-weight:600;
    font-size:16px;
    line-height:1.5em;
    letter-spacing:-0.1px;
    margin-top:20px;
    margin-bottom:20px;
  }

  h6{
    font-weight: bold;
    font-size:18px;
    line-height:24px;
    margin-bottom:15px;

    &:before{
      display:none;
    }
  }

  .date{
    float:left;
    font-weight:300;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height:50px;
    margin-bottom:30px;

    strong,b{
      font-weight:bold;
    }
  }

  .author{
    float:left;
    padding-right:50px;
    line-height:50px;

    strong,b{
      font-weight:bold;
    }

    .authorImage{
      width:50px;
      height:50px;
      border-radius:50%;
      position:relative;
      overflow: hidden;
      float:left;
      margin-right:25px;

      img{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
      }
    }
  }

  ol, ul{
    margin-bottom:40px;
    li{
      padding-left:20px;
      margin-bottom:20px;
      &::marker{
        font-weight:bold;
      }
    }
  }

  blockquote{
    font-style:italic;
    font-weight:500;
    font-size:20px;
    text-align:center;
    padding:0 100px;
    margin:100px 0;
  }

  img[alt$=">"] {
    float: right;
  }

  img[alt$="<"] {
    float: left;
  }

  img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
  }

  .blog-post-content{
    padding-left:400px;

    @include media-breakpoint-down(md) {
      padding-left:0;
    }

    figcaption{
      display:none;
    }
  }

  .conclusion{
    padding:60px 0;
    margin:70px 0 0px;
    position:relative;

    @include media-breakpoint-down(sm) {
      padding:30px 0;
      margin:30px 0 20px;
    }

    &:before{
      height:100%;
      content:'';
      background: #F9F9F9;
      position:absolute;
      top:0;
      width:200vw;
      left:-50vw;
      z-index:-1;
    }
  }

}


.toc{
  position: absolute;
  left:0px;
  width:315px;

  @include media-breakpoint-down(md) {
    display:none;
  }

  .toc-inner{
    background: rgba(246,246,246,0.70);
    border-radius: 6px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding:35px;
    //margin-top:-100px;
    max-height:calc(100vh - 180px);
    overflow: auto;

    &:before{
      height:calc(100% - 70px);
      width: 3px;
      background: #EAEAEA;
      position:absolute;
      left:35px;
      content:'';
    }
  }

  a:not(.suggest-button){
    font-family:$ruberoid;
    font-weight:500;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    margin:10px 0;
    padding-left:25px;
    display:inline-block;
  }

  .selected{
    position: relative;
    a{
      font-weight:bold;
      color: $purple;
    }

    &:before{
      height:100%;
      width: 3px;
      background: $purple;
      position:absolute;
      left:0px;
      border-radius:10px;
      content:'';
    }
  }
}

.sticky{
  top:100px !important;
}

.blog-section{
  .section-inner{
    position:relative;
    width:100%;

    padding:0 100px;
    overflow:visible;

    @include media-breakpoint-down(md) {
      padding:0 50px;
    }

    .resource{
      padding:0 15px;
    }
  }
  .carousel-button-group{
    position:absolute;
    top:50%;
    width:100%;

    .button{
      position:absolute;
      border:none;
      background: rgba(255,255,255,.4);
      border-radius: 6px;
      color:#000;
      font-size:28px;
      transition: 300ms all ease-in-out;
      width:35px;
      height:60px;
      line-height:64px;

      &.disable{
        visibility:hidden;
      }

      @include media-breakpoint-down(md) {
        font-size:24px;
      }

      &:hover{
        background: rgba(255,255,255,.7);
      }

      &.button-left{
        left:-100px;
        top:50%;
        transform:translateY(-50%);

        @include media-breakpoint-down(md) {
          left:-50px;
        }
      }

      &.button-right{
        right:100px;
        top:50%;
        transform:translateY(-50%);

        @include media-breakpoint-down(md) {
          right:50px;
        }
      }
    }
  }
}

.learn-modules{
  position:relative;
  padding-top:50px;
  z-index:2;

  &.learn-modules-footer{
    background:#FFF;
  }

  &.smaller{
    .col{

      &:nth-child(1){
        border-right:1px solid #E7E4E4;
      }
      &:nth-child(3){
        display:none;
      }

      .learn-box{
        background:#FFF !important;
        box-shadow:none;
        padding:40px 50px;

        .image{
          height:75px;
          margin-bottom:20px;
        }

        .title{
          font-size: 24px;
          color: #000000;
          letter-spacing: 0;
          line-height: 40px;
          margin-bottom:10px;
        }

        .text{
          font-size: 14px;
          color: #414141;
          letter-spacing: -0.09px;
          line-height: 22px;
          margin-bottom:20px;
        }
      }
    }
  }
}
