.glossary-page, .glossary-subpage{

  .alphabets{
    width:100%;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    border-radius: 6px;
    padding:0 25px;
    height:60px;
    line-height:60px;

    .list-group-horizontal{
      list-style:none;
      height:100%;

      .list-group-item{
        border:none;
        font-family: $ruberoid;
        font-weight:500;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        padding:0 1em;

        &.expand{
          width:0 !important;
          overflow:hidden;
          transition:800ms all ease-in-out;
          cursor:pointer;
          padding-left:0 !important;
          padding-right:0 !important;
          i{
            transform:rotate(90deg);
            display:inline-block;
            font-size:12px;
          }
        }

      }
    }

    &.search{
      cursor:pointer;
      position:relative;

      @media (max-width: 960px) {
        &:after{
          font-family:'celestia';
          content: "\e903";
          position:absolute;
          right:20px;
          top:0;
          font-size:20px;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }

  .char-bar{
    position: relative;
    min-width:100px;

    .alpha-expand{
      width:100%;
      background: #F5F5F5;
      border-radius: 0 0 6px 6px;
      text-align:center;
      padding:15px 0;
      cursor:pointer;
      display:none;

      @media (max-width: 960px) {
        display:block;
      }

      i{
        display:inline-block;
        transition:300ms all ease-in-out;
      }
    }

    @media (max-width: 960px) {
      width:100%;
    }

    .col-inner{
      overflow:hidden;
      width:100%;
      height:100%;

      @media (max-width: 960px) {
        overflow:visible;
      }
    }

    .alphabets{
      width:100%;
      position:absolute;
      right:0;
      overflow:hidden;
      transition:800ms all ease-in-out;
      height:auto;

      @media (max-width: 960px) {
        max-height:60px;
        padding:0;
        float:none !important;
        position:relative;
        transition:800ms all ease-in-out;
      }

      .list-group-horizontal{

        @media (max-width: 960px) {
          display:table;
          table-layout: fixed;
          width:100%;
          height:auto;
        }

        @media (max-width: 760px) {
          display:block;
          table-layout: fixed;
          width:100%;
          height:auto;
        }

        .list-group-item{

          @media (max-width: 1470px) {
            padding:0 1em;
          }

          @media (max-width: 1400px) {
            padding:0 1em;
          }

          @media (max-width: 1240px) {
            padding:0 .8em;
          }

          @media (max-width: 1060px) {
            padding:0 .6em;
          }

          @media (max-width: 960px) {
            text-align:center;
            display:table-cell;
            padding:0;

            &.expand{
              display:none;
            }
          }

          @media (max-width: 760px) {
            display:block;
            float:left;
            padding:0 1em;
          }

          @media (max-width: 360px) {
          }

          &.active{
            background:inherit;
            color:$purple;
          }
        }
      }
    }

    &.expanded{
      .alpha-expand{
        i{
          transform:rotate(180deg);
        }
      }
      .alphabets{
        max-height:180px;

        @media (max-width: 360px) {
          max-height:240px;
        }
      }
    }
  }

  .search-bar{

    @media (max-width: 960px) {
      width:100%;
      padding-bottom:20px;
    }

    .alphabets{
      align-items: center;

      @media (max-width: 960px) {
        padding:0;
      }

      i{
        line-height:60px;
      }

      .list-group-horizontal{
        .list-group-item{
          width:100%;
        }
      }

      .form-control{
        width:0;
        padding: 0.375rem 0;
        transition:800ms all ease-in-out;
        height:100%;
        background:none;

        @media (max-width: 960px) {
          width:100%;
          padding: 0.375rem 0.75rem;
        }
      }
    }
  }


  @media (min-width: 961px) {
    .opened{
      .search-bar{
        .alphabets{
          .form-control{
            width:300px;
            padding: 0.375rem 0.75rem;
          }
        }
      }
      .char-bar{
        .alphabets{
          padding-left:0;
          width:170px;
          .list-group-horizontal{
            .list-group-item{
              opacity:.4;

              &.expand{
                width:48px !important;;
                padding-left:.75rem !important;;
                padding-right:1.5rem !important;;
                background:#F5F5F5;
              }
            }
          }
        }
      }
    }

  }
}

.results{
  margin-top:50px;

  @media (max-width: 960px) {
    margin-top:0;
  }

  .alpha-row{
    padding:40px 0;
    border-bottom: 5px solid #EDEDED;

    &:last-child{
      border:none;
    }
  }

  .alpha{
    font-family: $ruberoid;
    font-weight:bold;
    font-size: 92px;
    color: #000000;
    letter-spacing: 1.15px;
    line-height:1em;
    margin-top:.5em;

    @include media-breakpoint-down(md) {
      font-size:52px;
      letter-spacing: 0.65px;
    }
  }

  .result-list{
    font-family: $inter;
    font-weight:300;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
    padding-left:0;

    .result{
      padding:40px;
      border-bottom: 1px solid #E4E4E4;
      background:transparent;
      transition: 400ms all ease-in-out;

      &:hover{
        background: #F6F6F6;
      }

      &:last-child{
        border:none;
      }

      @include media-breakpoint-down(md) {
        padding:30px 0;
      }
    }

    .title{
      font-family: $ruberoid;
      font-weight:bold;
      font-size: 22px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom:20px;
    }
  }
}

.glossary-subpage{

  main{
    .container{
      max-width:840px;

      &.wide{
        max-width:1440px;
      }
    }
  }

  h1{
    font-size: 62px;
    letter-spacing: 0.77px;
    line-height: 1.4em;

    @include media-breakpoint-down(xl) {
      font-size: 56px;
      letter-spacing: 0.7px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 40px;
      letter-spacing: 0.62px;
    }

    &.main{
      max-width:unset;
    }
  }

  .glossary-content{
    font-family: $inter;
    font-weight:300;
    font-size: 16px;
    color: #525252;
    letter-spacing: -0.1px;
    line-height: 24px;

    p{
      font-family:inherit;
      font-size:inherit;
      color:inherit;
      line-height:inherit;
      letter-spacing:inherit;
    }
  }
}

.glossary-nav{
  border-top: 1px solid #E4E4E4;
  margin-bottom:100px;

  .col{
    padding:50px 100px;
    font-family: $inter;
    font-weight:300;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 22px;

    &.border-right{
      border-right: 1px solid #E4E4E4;
    }
  }

  .glossary{
    .title{
      font-family: $ruberoid;
      font-weight:bold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 0;
      transition: all 500ms ease-in-out;
      margin-bottom:20px;

      i{
        display:inline-block;
        float:right;
        margin-top:3px;
        transform:translateX(0) rotate(-90deg);
        transition: transform 500ms ease-in-out;
      }
    }

    &:hover{
      .title{
        color:$purple;

        i{
          transform:translateX(10px) rotate(-90deg);
        }
      }
    }
  }
}
