@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "buttons";
@import "~bootstrap";

@import "initModify";
@import "forms";

@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/resource.scss";
@import "modules/podcast.scss";
@import "modules/advantage.scss";
@import "modules/card.scss";
@import "modules/purple-box.scss";
@import "modules/anchorMenu.scss";
@import "modules/video.scss";
@import "modules/backer.scss";
@import "modules/faq.scss";
@import "modules/perk.scss";
@import "modules/columnWithIcon.scss";
@import "modules/roadmapItem.scss";
@import "modules/learn.scss";

@import "pages/page-home.scss";
@import "pages/page-resouces.scss";
@import "pages/page-team.scss";
@import "pages/page-technology.scss";
@import "pages/page-careers.scss";
@import "pages/page-glossary.scss";

@import "components/team.scss";
@import "components/technology.scss";

@import "sections/image-with-text.scss";
@import "sections/two-column-section.scss";
@import "sections/podcast-section.scss";
@import "sections/whitepapers-section.scss";
@import "sections/advantages-section.scss";
@import "sections/cards-section.scss";
@import "sections/purple-section.scss";
@import "sections/image-section.scss";
@import "sections/hero-section.scss";
@import "sections/videos-section.scss";
@import "sections/backers-section.scss";
@import "sections/roadmap-section.scss";
@import "sections/separate-section.scss";

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: unset !important;
}

body{
  font-family:$inter;
  font-weight:300;
  font-style:normal;

  background:url(../images/header-bg.png) no-repeat scroll center top transparent;
  background-size:100%;

  @include media-breakpoint-down(sm) {
    background-size:200%;
  }
}

.container{
  width:90%;
  margin:auto;
  max-width:1300px;
  padding:0;
}

.manualAnchor{
  margin-top:-200px;
  position:absolute;
}
.anchor{
  &.before{
    //margin-top:-200px;
    position:absolute;
    transform:none !important;
    top:unset !important;
  }
}

section{
  width:100%;
  padding:65px 0;

  @include media-breakpoint-down(sm) {
    padding:30px 0;
  }
}

h1{
  font-family: $ruberoid;
  font-weight:bold;
  font-size: 110px;
  font-size: 100px;
  color: #000000;
  letter-spacing: 1.38px;
  line-height: 126px;
  line-height: 116px;
  display:inline-block;

  &.main{
    max-width:960px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 80px;
    letter-spacing: 1px;
    line-height: 90px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 60px;
    letter-spacing: 0.8px;
    line-height: 70px;
  }
  @include media-breakpoint-down(md) {
    font-size: 50px;
    letter-spacing: 0.62px;
    line-height: 60px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    letter-spacing: 0.4px;
    line-height: 40px;
  }
}

h2, .h2{
  font-family: $ruberoid;
  font-weight:bold;
  font-size: 70px;
  color: #000000;
  letter-spacing: 0.2px;
  position:relative;


  &.with-decor{
    &:before{
      position:absolute;
      left:-20px;
      top:-15px;
      content:'';
      width:100px;
      height:118px;
      background:url(../images/h2-decor.svg) no-repeat scroll center left transparent;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size:66px;
    letter-spacing:0.15px;

    &.with-decor{
      &:before{
        width:88px;
        height:104px;
        background-size:contain;
        top:-10px;
        left:-15px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    font-size:46px;
    letter-spacing:0.125px;

    &.with-decor{
      &:before{
        width:75px;
        height:89px;
        background-size:contain;
        top:-15px;
        left:-20px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    font-size:36px;
    letter-spacing:0.1px;

    &.with-decor{
      &:before{
        width:50px;
        height:59px;
        top:-5px;
        left:-16px;
      }
    }
  }
}

h3{
  font-family: $ruberoid;
  font-weight:bold;
  font-size: 52px;
  color: #000000;
  letter-spacing: 0.15px;
  line-height: 60px;
  position:relative;

  &.with-decor{
    &:before{
      position:absolute;
      left:-32px;
      top:-18px;
      content:'';
      width:78px;
      height:98px;
      background:url(../images/h2-decor.svg) no-repeat scroll center left transparent;
      background-size:contain;
    }
  }

  @include media-breakpoint-down(md) {
    font-size:42px;
    letter-spacing:0.12px;
    line-height:50px;

    &.with-decor{
      &:before{
        left: -20px;
        top: -18px;
        content: "";
        width: 64px;
        height: 80px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    font-size:32px;
    letter-spacing:0.09px;
    line-height:40px;

    &.with-decor{
      &:before{
        width:50px;
        height:59px;
        background-size:contain;
        top:-8px;
        left:-11px;
      }
    }
  }

}

h4{
  font-family: $ruberoid;
  font-weight:600;
  font-size: 42px;
  color: #000000;
  letter-spacing: 0.55px;
  line-height: 52px;

  @include media-breakpoint-down(md) {
    font-size:36px;
    letter-spacing:0.42px;
    line-height:42px;
  }

  @include media-breakpoint-down(sm) {
    font-size:24px;
    letter-spacing:0.32px;
    line-height:32px;
  }
}


h5{
  font-family: $ruberoid;
  font-weight:bold;
  font-size: 46px;
  color: #000000;
  letter-spacing: 0;
  line-height: 55px;

  @include media-breakpoint-down(md) {
    font-size: 28px;
    letter-spacing: 0.37px;
    line-height: 32px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    letter-spacing: 0.26px;
    line-height: 22px;
  }
}

h6{
  font-family: $ruberoid;
  font-weight:300;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom:30px;
  position:relative;
  display:inline-block;

  &:before{
    width:100%;
    height:1px;
    background: #000000;
    position:absolute;
    bottom:0;
    left:0;
    content:'';
  }
}

.modal-content-inner{
  h3{
    font-family: $ruberoid;
    font-weight:bold;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom:40px;
  }

  form{
    input[type='text']{
      background:#fff;
      color:#000;
    }
  }
}

main{
  overflow:hidden;
  width:100%;
  padding-top:40px;

  @include media-breakpoint-down(xl) {
    padding-top:50px;
  }

  @include media-breakpoint-down(md) {
    padding-top:0;
  }
}

hr:not([size]){
  border:none;
  background:none;
  height:auto;
  opacity:1;

  &:before{
    content:'//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
    position:relative;
    width:100%;
    opacity: 0.24;
    font-family: $ruberoid;
    font-weight:bold;
    font-size: 10px;
    color: #000000;
    letter-spacing: 0;
  }
}

.text-container{
  ul,ol{
    list-style:none;
    padding:0;
    margin:0;

    li{
      padding-left:25px;
      position:relative;
      margin-bottom:25px;

      &:before{
        width:8px;
        height:8px;
        border-radius:50%;
        position:absolute;
        left:0;
        top:9px;
        content:'';
        background:#000;
      }
    }
  }
}

.animation-container{
  width:500px;
  height:500px;
  background:yellow;
}

.ReactModal__Content{
  inset:80px 0 0 0 !important;
  background:none !important;
  border:none !important;

  .inner{
    transform:translateX(-50%) translateY(-50%);
    background-color: rgba(255, 255, 255,.9);

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: rgba(255, 255, 255,.7);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }

    left:50%;
    max-width:600px;
    position: absolute;
    width:90%;
    top:50%;
    padding:50px;
    border-radius:10px;

    @media screen and (max-height: 800px) {
      top:80px;
      margin-top:0;
      transform: translateX(-50%);
    }

  }

  .close-button{
    position:absolute;
    right:10px;
    top:10px;
    width:30px;
    height:30px;
    background:black;
    text-align:center;
    border:none;
    line-height:30px;
    font-size:10px;
    color:#fff;
    border-radius:5px;
  }

}

.ReactModal__Overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 17, 52,.15) !important;
  z-index:100;
  opacity:0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

.anchor{
  position:absolute;
  margin-top:-150px;
}

.breadcrumb{
  .icon-dropdown{
    transform:rotate(-90deg);
    display:inline-block;
    font-size:7px;
    margin:0 20px;
    float:right;
    margin-top:8px;
  }

  .breadcrumb-item{
    font-family: $inter;
    font-weight:300;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    line-height: 22px;

    &.active{
      color:initial;
    }
  }
}
